<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Tasktracka!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <%= if @current_user do %>
      <script>
        window.time_block_api_path = "<%= time_block_api_path(@conn, :index) %>"
        window.current_user_id = "<%= @current_user.id %>"
      </script>
    <% end %>
  </head>

  <body>
    <nav class="navbar sticky-top navbar-dark bg-dark">
      <%= link "Tasktracka", to: page_path(@conn, :index), class: "navbar-brand" %>
      <%= if @current_user do %>
            <span class="nav-item navbar-text">
              Logged in as: <%= @current_user.name %> 
            </span>
            <div class="ml-auto nav-item">
              <%= if @current_user.role.name == "Manager" do %>
                <%= link "Manage", to: "/", class: "btn btn-outline-light btn-xs" %>
              <% else %>
                <%= link "Todos", to: "/todo", class: "btn btn-outline-light btn-xs" %>
              <% end %> 
              <%= link "My Profile", to: "/profile", class: "btn btn-outline-light btn-xs" %>
              <%= link "Log Out", to: "/session", method: :delete, class: "btn btn-outline-light btn-xs" %>
            </div>
          <% end %>
    </nav>
    <div class="container">
    <%= if get_flash(@conn, :info) do %>
<p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
    <% end %>
    <%= if get_flash(@conn, :error) do %>	     
 <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
    <% end %>
      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
