<h2>Edit Task: <span id="task-id"><%= @task.id%></span></h2>

<%= render "form.html", Map.put(assigns, :action, task_path(@conn, :update, @task)) %>
<%= render TasktrackaWeb.TimeBlockView, "index.html", assigns %>
